<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update User - Semi-Restfull Routes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <h1>Edit User {{info['id']}}</h1>
      <form class="" action="/users/{{info['id']}}" method="post">
        <p>First Name:</p>
        <input type="text" name="first_name" value="{{info['first_name']}}">
        <p>Last Name:</p>
        <input type="text" name="last_name" value="{{info['last_name']}}">
        <p>Email:</p>
        <input type="email" name="email" value="{{info['email']}}">
        <input type="submit" value="Update">
      </form>

      <a href="/users/{{info['id']}}">Show</a> | <a href="/users">Go Back</a>
    </div>

  </body>
</html>
