<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Semi-Restfull Routes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
  </head>
  <body>
    <div class="wrapper">
      <h1>Users</h1>
      <table>
        <thead>
          <th>id</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Created At</th>
          <th>Actions</th>
        </thead>
        <tbody>

        </tbody>
      </table>
      <a href="/users/new">Add a new user</a>
    </div>

  </body>
</html>
