<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show User - Semi-Restfull Routes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <h1>User {{info['id']}}</h1>
      <p>Full Name: {{info['first_name']}} {{info['last_name']}}</p>
      <p>Email: {{info['email']}}</p>
      <p>Created: {{info['created_at']}}</p>
      <a href="/users/{{info['id']}}/edit">Edit</a> | <a href="/users/{{info['id']}}/destroy">Delete </a>
    </div>

  </body>
</html>
