<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>dojos</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
	<h1>Add New Dojo</h1>
	<form action="">
		<p>Dojo Name:<input type="text" name="dojoname"></p>
		<p>Address:<input type="text" name="dojoname"></p>
		<p>City:<input type="text" name="dojoname"></p>
		<p>State:<input type="text" name="dojoname"></p>
		<p>Zip Code:<input type="text" name="dojoname"></p>
		<p>Main Contact:<input type="text" name="dojoname"></p>
		<p>E-Mail:<input type="text" name="dojoname"></p>
		<p><input type="submit" value="Submit"></p>
		<p><a href="/">Home</a></p>
		<p><a href="/dojos/new">Go to Ninja Page</a></p>
	</form>
</body>
</html>
