<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Wall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <div class="wrapper">
      <nav class="teal darken-4" role="navigation">
        <div class="nav-wrapper container">
          <ul id="nav-mobile" class="right">
            <li>Welcome {{session['active_name']}}</li>
            <li><a href="/logoff">Logoff</a></li>
          </ul>
          <p class="brand-logo left">The Wall</p>
        </div>
      </nav>
      <div class="row">
        <div class="col s12">
          <div class="section">
            <p class="">Post a message:</p>
            <form class="message_post" action="add_message" method="post">
              <textarea name="post_message"></textarea>
              <input class='btn right light-blue accent-4' type="submit" value="Post a message">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          {% for message in messages%}
          <div class="card teal lighten-5">
            <div class="card-content black-text">
              <p class=""><b>{{message['first_name']}} {{message['last_name']}} on {{message['created_on']}} wrote:</b>
              </p>
              <p class="">
                {{message['message']}}
              </p>
              {% if session['active_id'] == message['messages_users_id']%}
              <a href="/delete_message/{{message['message_id']}}/{{message['messages_users_id']}}">Delete</a>
              {% endif %}
              <div class="section container">
              {% for comment in comments%}
                {% if comment['messages_id'] == message['message_id']%}
                  <p class=""><b>{{comment['first_name']}} {{comment['last_name']}} on {{comment['created_on']}} wrote:</b>
                  </p>
                  <p class="">
                    {{comment['comment']}}
                  </p>
                  {% if session['active_id'] == comment['comment_user_id']%}
                    <a href="/delete_comment/{{comment['comment_id']}}/{{comment['comment_user_id']}}">Delete</a>
                  {% endif %}
                {% endif %}
              {% endfor %}
              </div>
              <p class="post_label">Post a comment:</p>
              <form class=" comments" action="add_comment" method="post">
                <input type="hidden" name="message_id" value="{{message['message_id']}}">
                <input type="hidden" name="message_users_id" value="{{message['messages_users_id']}}">
                <textarea class="white" name="post_comment"></textarea>
                <div class="row">
                  <div class="col s12">
                    <input class="btn right teal accent-4" type="submit" value="Post a comment">
                  </div>
                </div>
              </form>
            </div>
          </div>
          {% endfor%}
        </div>
      </div>
    </div>


    <!-- Obtain latest version of jquery from CDN -->
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <!-- jQuery must be imported before materialize -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    </body>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  </body>
</html>
